@mixin koma($mass-width, $border-size) {
  $koma-width: $mass-width * 0.8;
  $koma-bwidth: $mass-width * 0.8;
  $koma-twidth: $koma-bwidth / 8;
  $koma-theight: ($mass-width - $koma-bwidth) * 0.6;
  $koma-topwidth: $koma-bwidth * 0.5 - $koma-twidth;
  $koma-fontsize: $koma-width * 0.7;
  $board-color: #FFCC66;

  width: $mass-width;
  height: $mass-width;
  margin-bottom: $border-size;
  margin-right: $border-size;
  position: absolute;

  &:before {
      content: '';
      width: 0;
      height: 0;
      border-top:solid $koma-theight transparent;
      border-right:solid $koma-topwidth transparent;
      border-bottom:solid $koma-theight orange;
      border-left:solid $koma-topwidth transparent;
      margin: 0 auto;
      position: absolute;
      left: 50%;
      margin-left: -$koma-topwidth;
  }
  .trapezoid {
    width: $koma-width;
    height: $mass-width;
    border-bottom: $koma-bwidth solid orange;
    border-left: $koma-twidth solid transparent;
    border-right: $koma-twidth solid transparent;
    margin: 0 auto;
  }

  .text {
    height: $koma-fontsize;
    width: $koma-fontsize;
    font-size: $koma-fontsize;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: - $koma-fontsize / 2;
    margin-top: - $koma-fontsize / 2;
  }
}
.game-area {
  $width: 400px;
  $mochi-height: $width / 8;
  $grid-cnt-x: 5;
  $grid-cnt-y: 7;
  $border-size: 2px;
  $border-color: black;
  $grid-width: ($width - $border-size) / $grid-cnt-x;
  $mass-width: ($width - ($border-size + 1) * $grid-cnt-x) / $grid-cnt-x;
  $touch-are-width: ($width - $border-size) / $grid-cnt-x;
  $board-color: #FFCC66;

  width: $width;
  height: width;
  float: none;
  margin: 0 auto;

  .gogo-game {
    width: $width;
    height: $width + $grid-width * 2;
    background-color: $board-color;

    .grid-container {
      width: $width;
      height: $width + $grid-width * 2;
      z-index: 1;
      position: absolute;
      border-top: solid $border-size $border-color;
      border-left: solid $border-size $border-color;

      .grid-cell {
        width: $grid-width;
        height: $grid-width;
        margin-bottom: 0;
        margin-right: 0;
        float: left;
        border-right: solid $border-size $border-color;
        border-bottom: solid $border-size $border-color;

        &.selected {
          background-color: rgb(21, 22, 57);
        }

        &.selectedKoma {
          background-color: red;
        }

        &.owner-grid-cell {
          border-right: none;
        }
        &.owner-grid-cell-last {
          border-right: solid $border-size $border-color;
        }
      }
    }

    .koma-container {
      width: $width - $border-size;
      height: $width - $border-size;
      padding-left: $border-size;
      padding-top: $border-size;
      z-index: 2;
      position: absolute;

      .koma {
        @include koma($mass-width, $border-size);

        @for $x from 1 through $grid-cnt-x {
          @for $y from 1 through $grid-cnt-y {
            $ox: $grid-cnt-x - $x;
            $oy: $y - 1;
            $newX: ($mass-width) * ($ox) + ($border-size) * ($ox);
            $newY: ($mass-width) * ($oy) + ($border-size) * ($oy);

            &.position-#{$x}-#{$y - 1} {
              transform: translate($newX, $newY);
              &.reverse {
                transform:  translate($newX, $newY+$border-size) rotate(180deg);
              }
            }
            .have-cnt {
              width: $mass-width / 4;
              height: $mass-width / 4;
              position: absolute;
            }
          }
        }
      }
    }
    .info-area-container {
      width: $width - $border-size;
      height: $width + $grid-width * 2;
      background-color: rgba(103, 101, 133, 0.4);
      position: absolute;
      z-index: 5;

      .info-start {
        width: 50%;
        height: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .title {
          text-align: center;
          color: black;
          background-color: inherit;
        }

        .btn-list {
          width: 80%;
          text-align: center;
          display: inline-block;
        }
      }

      .info-promote {
        width: 50%;
        height: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .title {
          text-align: center;
          color: black;
          background-color: inherit;
        }

        .btn-list {
          text-align: center;
        }
      }

      .info-end {
        width: 50%;
        height: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .title {
          text-align: center;
          color: black;
          background-color: inherit;
        }

        .btn-list {
          text-align: center;
        }
      }
    }
    .touch-area-container {
      width: $width - $border-size;
      height: $width - $border-size;
      background-color: transparent;
      position: absolute;
      z-index: 4;

      .touch-area {
        width: $touch-are-width;
        height: $touch-are-width;
        background-color: transparent;
        float: left;
      }
    }
  }
}
