.container
  div
    acme-navbar(
      creationDate="main.creationDate"
    )

  .jumbotron.text-center
    h1 Komachan GoGoshogi Game
    p.lead
      Always you can gaming GoGoshogi
    p.animated.infinite(
      ng-class="main.classAnimation"
    )
      button.btn.btn-lg.btn-success(
      ) Splendid Toastr

  .row
    .col-md-2
    .col-md-8
      gogoshogi-game.game-area
    .col-md-2
