.container
  div
    acme-navbar(
      creationDate="main.creationDate"
    )

  .jumbotron.text-center
    h1 Komachan GoGoshogi Game
    p.lead
      Always you can gaming GoGoshogi

  .row
    .col-md-2
    .col-md-8
      gogoshogi-game.game-area.center-block
    .col-md-2
