.grid-cell(
  [class.selected]="mass.moval",
  [class.selectedKoma]="mass.isKoma",
  [class.owner-grid-cell-last]="mass.isHave && (mass.x === 1)",
  [class.owner-grid-cell]="mass.isHave" )
  span.have-cnt()
  
